<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="transition.css", rel="stylesheet")
    body
        .content
            h2 我是標題
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsam ea unde maiores dolor soluta at. Consequuntur commodi nemo consequatur excepturi nisi voluptatum atque laborum incidunt aspernatur asperiores, error porro.
            .click-box
                .line1
                .line2
                .line3