<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="try.css", rel="stylesheet")
    body
        div(data-color="red" data-size="small") 按鈕
        div(data-color="blue" data-size="medium") 按鈕
        div(data-color="green" data-size="large") 按鈕