<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="guideline.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")
    body
        header
            img(src="logo.png", alt="")
        .content.bg-light
            .wrap
                h5 Style Guideline
                h1 品牌網頁視覺引導 - 40px 大標題
                h1.english English style guideline for h1 Title
                br
                h2 品牌網頁視覺引導 - 30px 副標題
                h2.english English style guideline for h2 Title
                br
                h3 品牌網頁視覺引導 - 20px 小標題
                h3.english English style guideline for h3 Title
                br
                hr
                br
                h5 VI Colors
                .colorchip
                    .color-square.bg-main
                    .color #E96A60
                .colorchip
                    .color-square.bg-second
                    .color #c7d8e9
                .colorchip
                    .color-square.bg-dark
                    .color #4C5764
                .colorchip
                    .color-square.bg-light
                    .color #edf0f4
                h5 Button Example
                button.bg-main 按鈕範例
                button.bg-second 按鈕範例
                button.bg-dark 按鈕範例
                button.bg-light 按鈕範例
        .content.bg-dark
            .wrap
                h5 Style Guideline
                h1 品牌網頁視覺引導 - 40px 大標題
                h1.english English style guideline for h1 Title
                br
                h2 品牌網頁視覺引導 - 30px 副標題
                h2.english English style guideline for h2 Title
                br
                h3 品牌網頁視覺引導 - 20px 小標題
                h3.english English style guideline for h3 Title
                br
                hr
                br
                h5 VI Colors
                .colorchip
                    .color-square.bg-main
                    .color #E96A60
                .colorchip
                    .color-square.bg-second
                    .color #c7d8e9
                .colorchip
                    .color-square.bg-dark
                    .color #4C5764
                .colorchip
                    .color-square.bg-light
                    .color #edf0f4
                h5 Button Example
                button.bg-main 按鈕範例
                button.bg-second 按鈕範例
                button.bg-dark 按鈕範例
                button.bg-light 按鈕範例
        .content.bg-second
            .wrap
                h5 Style Guideline
                h1 品牌網頁視覺引導 - 40px 大標題
                h1.english English style guideline for h1 Title
                br
                h2 品牌網頁視覺引導 - 30px 副標題
                h2.english English style guideline for h2 Title
                br
                h3 品牌網頁視覺引導 - 20px 小標題
                h3.english English style guideline for h3 Title
                br
                hr
                br
                h5 VI Colors
                .colorchip
                    .color-square.bg-main
                    .color #E96A60
                .colorchip
                    .color-square.bg-second
                    .color #c7d8e9
                .colorchip
                    .color-square.bg-dark
                    .color #4C5764
                .colorchip
                    .color-square.bg-light
                    .color #edf0f4
                h5 Button Example
                button.bg-main 按鈕範例
                button.bg-second 按鈕範例
                button.bg-dark 按鈕範例
                button.bg-light 按鈕範例
