<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
        link(href="weather_box.css", rel="stylesheet")
    body
        .container 
            .moon
            .text-box 
                h5 高雄市三民區
                h3 25℃
                h5 星期三 9:00 AM
            .cloud
                .rain
                .rain.rain2
                .rain.rain3
            hr
            .bottom-area
                .chart
                    svg(viewbox="0 0 80 50") 
                        circle(cx=6 cy=4 r=0.5)
                        text(x=4.5 y=2.5) 28°
                        circle(cx=18 cy=10 r=0.5)
                        text(x=16.5 y=7.5) 20°
                        circle(cx=29 cy=5 r=0.5)
                        text(x=27.5 y=3) 26°
                        circle(cx=40 cy=7 r=0.5)
                        text(x=38.5 y=5) 25°
                        circle(cx=51 cy=5 r=0.5)
                        text(x=49.5 y=3) 26°
                        circle(cx=62 cy=11 r=0.5)
                        text(x=60.5 y=9) 21°
                        circle(cx=73 cy=3 r=0.5)
                        text(x=72 y=1.5) 29°
                        polyline(points="6,4 18,10 29,5 40,7 51,5 62,11 73,3")
                .week
                    .day
                        h5 SUN
                        svg(viewbox="-50 -50 100 100")
                            circle.sun(cx=0 cy=0 r=20)

                    .day
                        h5 MON
                        svg(viewbox="-50 -50 100 100")
                            circle(cx=0 cy=0 r=20)
                            circle.cloud(cx=-13 cy=10 r=11)
                            circle.cloud(cx=-3 cy=9 r=12)
                            circle.cloud(cx=7 cy=10 r=11)
                            circle.cloud(cx=-9 cy=-2 r=10)
                            circle.cloud(cx=0 cy=3 r=10)
                    .day
                        h5 TUE
                        svg(viewbox="-50 -50 100 100")
                            circle.sun(cx=0 cy=0 r=20)
                    .day
                        h5 WEN
                        svg(viewbox="-50 -50 100 100")
                            line(x1=-5 y1=5 x2=-10 y2=25)
                            line.rains2(x1=5 y1=5 x2=0 y2=25)
                            line.rains3(x1=15 y1=5 x2=10 y2=25)
                            circle.cloud(cx=-12 cy=5 r=12)
                            circle.cloud(cx=0 cy=5 r=12)
                            circle.cloud(cx=12 cy=5 r=12)
                            circle.cloud(cx=-8 cy=-10 r=10)
                            circle.cloud(cx=6 cy=-5 r=10) 
                    .day
                        h5 THR
                        svg(viewbox="-50 -50 100 100")
                            circle.cloud(cx=-12 cy=5 r=12)
                            circle.cloud(cx=0 cy=5 r=12)
                            circle.cloud(cx=12 cy=5 r=12)
                            circle.cloud(cx=-8 cy=-10 r=10)
                            circle.cloud(cx=6 cy=-5 r=10)
                    .day
                        h5 FRI
                        svg(viewbox="-50 -50 100 100")
                            circle(cx=0 cy=0 r=20)
                            circle.cloud(cx=-13 cy=10 r=11)
                            circle.cloud(cx=-3 cy=9 r=12)
                            circle.cloud(cx=7 cy=10 r=11)
                            circle.cloud(cx=-9 cy=-2 r=10)
                            circle.cloud(cx=0 cy=3 r=10)
                    .day
                        h5 SAT
                        svg(viewbox="-50 -50 100 100")
                            circle.sun(cx=0 cy=0 r=20)