* {
  position: relative;
  font-family: "Lato", sans-serif;
}

$padWidth: 992px;
$phoneWidth: 415px;

@mixin pad {
  @media screen and (max-width: $padWidth) {
    @content;
  }
}
@mixin phone {
  @media screen and (max-width: $phoneWidth) {
    @content;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40%;
  //min-height: 400px;
  padding: 20px;
  background: linear-gradient(-20deg, #1d072f, #333564);
  border-radius: 10px;
  transition-duration: 1s;
  cursor: pointer;
  @include pad {
    width: 80%;
  }
  .moon {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    top: 25px;
    right: 25px;
    box-shadow: -50px 50px 0 0 #fef93d;
    animation: moonmove 30s infinite;
    transition-duration: 0.5s;
  }
  @keyframes moonmove {
    0% {
      transform: translateX(0) translateY(0);
      box-shadow: -20px 20px 0 0 #fef93d;
    }
    50% {
      transform: translateX(-10px) translateY(10px);
      box-shadow: -10px 10px 0 0 #fef93d;
    }
    100% {
      transform: translateX(0) translateY(0);
      box-shadow: -20px 20px 0 0 #fef93d;
    }
  }
  .text-box {
    text-align: center;
    padding: 20px;
    color: #fff;
    h5 {
      margin: 0;
      font-size: 0.9em;
      font-weight: normal;
    }
    h3 {
      margin: 0;
      font-size: 2.5em;
    }
  }
  .cloud {
    width: 105px;
    height: 35px;
    margin: 30px auto 50px auto;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 8px 13px rgba(0, 0, 0, 0.2);
    animation: float 3s infinite;
    &:before,
    &:after {
      content: "";
      display: block;
      width: 45px;
      height: 45px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: -27px;
      left: 14px;
    }
    &:after {
      top: -18px;
      left: 42px;
    }
    @keyframes float {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(5px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .rain {
      width: 3px;
      height: 15px;
      background-color: #fff;
      left: 23px;
      top: 20px;
      animation: raindrop 1s infinite linear;
      transition-duration: 0.5s;
    }
    .rain2 {
      left: 48px;
      top: 10px;
      animation-delay: -0.5s;
    }
    .rain3 {
      left: 73px;
      top: -5px;
      animation-delay: -0.8s;
    }
    @keyframes raindrop {
      0% {
        transform: translateY(0);
        opacity: 1;
      }
      50% {
        opacity: 0.3;
      }
      100% {
        transform: translateY(200%);
        opacity: 0;
      }
    }
  }
  hr {
    margin: 20px;
    border: solid 2px #7c737e;
  }
  .bottom-area {
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    .chart {
      width: 100%;
      height: 70px;
      opacity: 0.7;
      padding-bottom: 20px;
      circle {
        fill: #fff;
      }
      text {
        font-size: 2px;
        fill: #fff;
      }
      polyline {
        stroke: white;
        stroke-width: 0.2px;
        fill: none;
      }
    }
    .week {
      .day {
        display: inline-block;
        color: #fff;
        width: calc(100% / 7 - 5px);
        box-sizing: border-box;
        h5 {
          margin: 0;
          font-weight: normal;
        }
        circle {
          fill: #fef93d;
          &.sun {
            stroke-width: 20px;
            stroke: rgba(#fef93d, 0.5);
            stroke-dasharray: 7px;
            animation: shine 2s infinite;
          }
          @keyframes shine {
            0% {
              stroke: rgba(#fef93d, 0.5);
            }
            50% {
              stroke: rgba(#fef93d, 0.7);
            }
            100% {
              stroke: rgba(#fef93d, 0.5);
            }
          }
          &.cloud {
            fill: #bababa;
          }
        }
        line {
          stroke: #4dacff;
          stroke-width: 3px;
          animation: raindrop2 1.5s infinite linear;
          transition-duration: 0.5s;
          &.rains2 {
            animation-delay: -0.3s;
          }
          &.rains3 {
            animation-delay: -0.7s;
          }
        }
        @keyframes raindrop2 {
          0% {
            opacity: 0.9;
            transform: translateX(0) translateY(0);
          }
          50% {
            opacity: 0;
            transform: translateX(-10%) translateY(20%);
          }
          100% {
            opacity: 0.6;
            transform: translateX(0) translateY(0);
          }
        }
      }
    }
  }
}
