<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="css/test.css" rel="stylesheet")
    body
        .namecard
            .cycle1 123
            .cycle2 123
        h2 劉豪萱 Birte 
            span Front-end Designer 
        h3 123
        h6 777